@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
body{
    color: #ffffff;
}


#canvas {
    width: 100%;
    min-height: 500vh;
    background: #121212;
    position:absolute;
    left:0;
    top:0;
    position: fixed;
    z-index:-1;
    opacity: .4;
}

#back{
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    opacity: .4;
}
#about-text{
    color: #ff8900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.main{
    margin-top: 200px;
    text-align: center;
    min-height: 80vh;
}
.main h1{
    font-size: 60px;
}

.title-section{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.main p{
    font-size: 30px;
}
.main .btn-01{
    margin-top: 30px;
}
.main .btn-01:hover{
    -webkitbox-shadow: 0 0 20px #4908b1;
    box-shadow: 7px 13px 66px rgba(104, 22, 235, 0.8);
}

#date{
    color: #ff8900;
    font-family: monospace;
    margin-top: 40px;
}

.quotes{
    margin-top: 200px;
    min-height: 100vh;
}
#why-bitflip{
   text-align: center;
   font-weight: 600;
}

.blockquote-wrapper {
    display: flex;
    height: 30vh;
    padding: 0 20px;
 }
 
 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-family: 'Barlow Condensed', sans-serif;
     max-width: 620px;
     margin: 80px auto;
     align-self: center;
 }
 
 /* Blockquote header */
 .blockquote h1 {
     font-family: 'Abril Fatface', cursive;
     position: relative; /* for pseudos */
     color: #e74848;
     font-size: 2.8rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     border: 2px solid #fff;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
 }
 
 /* Blockquote right double quotes */
 .blockquote h1:after {
     content:"";
     position: absolute;
     border: 2px solid #e74848;
     border-radius: 0 50px 0 0;
     width: 60px;
     height: 60px;
     bottom: -62px;
     left: 50px;
     border-bottom: none;
     border-left: none;
     z-index: 3; 
 }
 
 .blockquote h1:before {
     content:"";
     position: absolute;
     width: 80px;
     border: 6px solid #292a2b;
     bottom: -3px;
     left: 50px;
     z-index: 2;
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 3rem;
         line-height: 1.2;
    }
 
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
     position: relative;
     color: #ffffff;
     font-size: 1.3rem;
     font-weight: 400;
     line-height: 1.2;
     margin: 0;
     padding-top: 15px;
     z-index: 1;
     margin-left:150px;
     padding-left:12px;
 }
 
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }

 .quote-desc{
     max-width: 60%;
     margin: 200px auto 100px auto;
     font-size: 25px;
     font-family: 'Nunito', sans-serif;
     line-height: 2.4rem;
     font-weight: 100;
 }
 .highlight{
     font-family: 'Nunito', sans-serif;
     font-weight: 600;
 }
 .bigtext{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 40px;
     color: #ff8900;
 }
 .about{
     margin: 250px 0;
 }

.about .about-content{
    display: grid;
    grid-template-columns: 1fr;
}
.about .about-content .about-icons{
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    justify-items: flex-end;
    align-items: center;
    max-width: 80%;
    margin-left: 50px;
}


.about .about-content-text{
    margin-top: 50px;
    max-width: 80%;
    line-height: 1.9rem;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2.8rem;
}
.about .logos{
    max-width: 80%;
    margin: 50px auto;
    text-align-last: center;
}
.about .logos img{
    width: 50px;
    height: auto;
    margin-left: 30px;
}
@media(max-width: 767px){
    .about .logos{
        max-width: 100%;
        display: inline-block;
    }
    .about .logos img
    {
        width: 40px;
        height: auto;
        
    }
}

.tracks .title-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

.track-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    max-width: 80%;
    margin: auto;
    column-gap: 40px;
    row-gap: 60px;
    justify-items: center;
}
.tracks .track-container .track-item .ico{
    width: 100px;
}

.tracks .track-container .track-item p{
    font-family: monospace;
    text-align: center;
    align-self: center;

}

.schedule .title-section{
    margin-top: 100px;
}

.schedule .btn-01{
    margin-top: 50px;
    border-radius: 5px;
    background-color: #8e3c3c;
    box-shadow: inset 0px 3px 15px 0px black;
}

.faqs .title-section{
    margin-top: 100px;
}

.faqs .accordion{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/* .track-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */

.wrap {
    /* margin: 2rem; */
  
    transform-style: preserve-3d;
    transform: perspective(50rem);
    width: fit-content;
    cursor: pointer;
  }
  
  .containera {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 13rem;
    height: 10rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 2rem;
  
    display: flex;
    align-items: flex-end;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
    
  

    background-position: var(--bX) var(--bY);
    background-size: cover;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  
    transition: transform .6s 1s;
  }
  .containera.container--1{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/AI.svg");
    background-size: cover;
  }
  .containera.container--2{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/blockchain.svg");
    background-size: cover;
  }
  .containera.container--3{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/finTech.svg");
    background-size: cover;
  }
  .containera.container--4{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/algorithm.svg");
    background-size: cover;
  }
  .containera.container--5{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/VR.svg");
    background-size: cover;
  }
  .containera.container--6{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/health.svg");
    background-size: cover;
  }
  .containera.container--7{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/sociall.svg");
    background-size: cover;
  }
  .containera.container--8{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/EdTech.svg");
    background-size: cover;
  }
  .containera.container--9{
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("/static/images/tracks/open_innovation.svg");
    background-size: cover;
  }
  .containera::before,
  .containera::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .containera::before {
    top: 1.5rem;
    right: 1.5rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .containera::after {
    bottom: 1.5rem;
    left: 1.5rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container--active {
    transition: none;
  }
  

  
  .containera p {
    color: #fff;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;
    border-radius: 10px;
  }
  
  .wrap:hover .containera::before,
  .wrap:hover .containera::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 0%, .6);
    font-size: 1.6rem;
  }



@media(max-width: 767px){
    .quote-desc{
        max-width: 90%;
        font-size: 20px;
    }
    #about-text{
        font-size: 23px;
        max-width: 90%;
    }
    .about .about-content-text{
        font-size: 20px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2rem;
    }
    .about .title-section{
        font-size: 28px;
    }
    .track-container{
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
    }
    .faqs .accordion {
        max-width: 90%;
    }
}

@media(max-width: 563px){
    .track-container{
        grid-template-columns: 1fr;
        align-items: center;
    }
    #canvas{
        min-height: 850vh;
    }
}


.accordion a{
    color: #fff;
    background-color: #121212;
}

.accordion .content.active {
    background-color: #271238;
    border-radius: 15px;
    background-color: #A594F9;
}


.accordion .content p {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sponser-container{
    margin-top: 100px;
    min-height: 100vh;
}
#sponser{
    font-size: 60px;
    text-align: center;
}

.sponser-container .border-div{
    width: 60%;
    height: 60px;
    margin: auto;
    margin-top: 100px;
    border-top: 2px solid #fff;
    position: relative;
}
.sponser-container .border-div .platinum{
    position: absolute;
    top: -30px;
    left: 35%;
    width: 200px;
    height: 50px;
    background-color: rgba(0,0,0);
    -webkitbox-shadow: 0 0 20px #ffffff;
    box-shadow: 5px 10px 20px rgba(23, 14, 75, 0.8);
    border-radius: 15px;
}
.sponser-container .border-div .platinum h2{
    text-align: center;
}
.sponser-container img{
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
@media(max-width: 767px){
    .sponser-container{
        margin-top: 100px;
        min-height: auto;
    }
    .sponser-container .border-div{
        width: 90%;
    }
    .sponser-container .border-div .platinum{
        top: -30px;
        left: 20%;
    }
    .sponser-container img{
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}

#footer{
    color: #4b4747;
    text-align: center;   
    padding-top: 100px;     
}
#footer a{
    color: #615f5f;
}
#logo{
    width: 100px;
}
.header.fixed #logo{
    width: 40px;
}
@media(max-width: 767px){
    #logo{
        width: 50px;
    }
}

.side{
    position: fixed;
    bottom: 50px;
    right: 20px;
    color: #5f4425;
}

.about .about-content-text{
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}

.gold-logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gold-logos .gold{
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}
@media(max-width: 767px){
    .gold-logos{
        grid-template-columns: 1fr;
        max-width: 90%;
    }
    .gold-logos img.gold{
        width: 45%;
    }
 
}
#gold{
    margin-top: 200px;
}

#devfolio-apply-now {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #3770FF;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
    text-transform: lowercase;
    margin-top: 30px;
}

#devfolio-apply-now:not([disabled]) {
    cursor: pointer;
}

#devfolio-apply-now:hover {
    background-color: #2954BF !important;
}