.wrapper {
  display: -webkit-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  justify-content: space-around;
  row-gap: 50px;
  column-gap: auto;
}

.card {
  grid-column: auto;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card .info h1 {
  font-size: 20px;
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}



@media(max-width: 767px){
  .wrapper{
    grid-template-columns: 1fr;
    max-width: 100%;

  }
  .card {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .card::before {
    opacity: 1;
  }
  .card .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@media(min-width: 768px) and (max-width: 1205px){
  .wrapper{
    grid-template-columns: 1fr 1fr;
    max-width: 100%;

  }
  .card {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .card::before {
    opacity: 1;
  }
  .card .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.wrapper .card .info .social-links a{
  height: 35px;
  width: 35px;
  background-color: #ff8900;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-links a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}