<!DOCTYPE html>
<html lang="en">
<head>

   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="State of Art is an initiative taken by the College Union in the effort to foster a college driven by creativity that provides the opportunity for everyone to engage in diverse arts and culture | College Of Engineering, Trivandrum | arts | artists | CET |">
    <meta name="keywords" content="State of art, ART, SOACET, CET, artists, best arts">
    <meta name="author" content="Rahul T">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>BITFLIP</title>
</head>
<style>
    #logo{
        width: 100px;
    }
    @media(max-width: 767px){
        #logo{
            width: 50px;
        }
    }
</style>
<body>
    <!-- Header Start -->
    <header class="header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="brand-name">
                    <a href="/"><img src="/static/images/logo.svg" id="logo" alt="logo"></a>
                </div>
                <div class="nav-toggle">
                    <span></span>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/hackathon">hackathon</a></li>
                        <li><a href="/register">Register</a></li>
                       
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <!-- Header Start End-->
    
    <section>
        {{ content }}
    </section>
    <script src="/static/js/jQuery.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>