---
layout: default
---

<style>
    body{
        background-color: #000000;
        color: #ffffff;
    }
    .header .brand-name a {
        color: #000000;
    }

    .header .nav-toggle {
        border: 1px solid #ffffff;
    }


    .header .nav-toggle span {
        background-color: #ffffff;
    }

    .header .nav-toggle span::before,
    .header .nav-toggle span::after {
        background-color: #ffffff;
    }

    .header .nav ul li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        padding: 25px 0;
        display: block;
        transition: all 0.3s ease;
    }

    @media(max-width: 767px) {
        #timer {
            font-size: 40px;
            font-family: monospace, sans-serif;
        }
    }

    .container-event {
        margin-top: 100px;
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 30px;
        row-gap: 60px;
        margin-bottom: 50px;
        position: relative;
    }

    .container-event h1 {
        line-height: 3;
        margin-bottom: 10px;
        text-align: center;
        font-size: 60px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .container-event h3 {
        grid-column-start: 1;
        grid-column-end: 3;
        line-height: 3;
        margin-bottom: 10px;
        text-align: center;
        font-size: 40px;
    }
    .container-event h4{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 10px;
        text-align: center;
        font-size: 25px;
        
    }
    .container-event a{
        color: rgb(157, 66, 241);
        font-size: 30px;
    }
    #timer{
        color: tomato;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #timer-started{
            font-size: 40px;
            color: tomato;
    }

    .container-event img {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .container-event .event-detail {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 20px;
        justify-self: center;
        align-self: center;
    }
    .container-event .speaker{
            grid-column: auto;
            width: 100%;
            margin: auto;
        }
    .container-event a{
        grid-column: 1/3;
        text-align: center;
        margin-top: 20px;
    }
    #footer{
        color: #4b4747;
        position: absolute;
        bottom: -100px;
        left: 35%;
        
    }
    #event-date{
        color: #ff8900;
        font-size: 23px;
        font-weight: 100;
        font-family: monospace;
    }

    @media(max-width: 767px) {
        .container-event {
            max-width: 100%;
            margin: 10px;
            padding-top: 30px;
            row-gap: 20px;
        }
        #event-date{
        color: #ff8900;
        font-size: 18px;
        font-weight: 100;
        font-family: monospace;
    }

        .container-event h1{
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: 30px;
            align-items: center;
            margin-top: 51px;
            margin-bottom: -10px;
        }
        .container-event h3 {
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: 28px;
        }
        .container-event #poster {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
        }
        

        .container-event .event-detail {
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: 18px;
            margin-top: 20px;
        }
        .container-event .speaker{
            grid-column: 1/3;
        }
        #timer{
            font-size: 40px;
        }
        #timer-started{
            font-size: 25px;
            color: tomato;
        }
        #footer{
            position: absolute;
            bottom: -100px;
            left: 0;
        }

    }
</style>


<div class="container-event">
    <h1>{{page.heading}} <span id="event-date"><br>{{page.event-date}}</span> </h1>
    <img id="poster" src="{{ page.poster_path }}" alt="">
    <p class="event-detail">{{page.details}}</p>
    <h3>Speakers</h3>
    <img class="speaker" src="{{ page.speaker_img_path }}" alt="">
    <p class="event-detail">{{page.speaker1}}</p>
    <img class="speaker" src="{{ page.speaker_img_path2 }}" alt="">
    <p class="event-detail">{{page.speaker2}}</p>

    {% if page.time %}
        <a href="/register"><button class="btn-01">Register now</button></a>
        <h4 id='event-starts-in'>Event Starts in</h4>
        <h4 id="timer"></h4>
        <p id="footer">&copy; Bitflip | Designed and developed by <a href="https://github.com/rawho">Rahul T</a> </p> 
    {% else %}
        <h4 id="timer-started">Event has Started! Dont worry register for next event</h4>
        <a href="/events">see all events</a>
        <p id="footer">&copy; Bitflip | Designed and developed by <a href="https://github.com/rawho">Rahul T</a> </p> 
    {% endif %}
    
</div>


<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{page.time}}").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      document.getElementById("timer").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>