---
layout: page
---
<style>
  .container-faq{
    margin-top: 100px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-faq h2{
    margin-left: 20px;
    line-height: 3;
    display: block;
    width: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid red;
  }
  
@media(max-width: 767px){
  .container-faq{
    max-width: 100%;
  }
}
</style>
<div class="container-faq">
 
  <h2>FAQ's</h2>
 
  <div class="accordion">
    {% for faq_item in site.faqs %}
    <div class="accordion-item">
      <a>{{ faq_item.question}}</a>
      <div class="content">
        <p>{{ faq_item.answer }}</p>
    </div>
    {% endfor %}
  </div>
  
</div>