---
layout: mypage-hack
---
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="/static/css/hackathon.css">
<canvas id="canvas"></canvas>

<div class="main">
    <!-- <img id="back" src="/static/images/back.jpg" alt=""> -->
    <!-- <img id="left" src="/static/images/hack.png" alt=""> -->
    <h1 class="title-section">BitFlip</h1>
    <p id="hack">The World is Open for Play</p>
    <button class="btn-01">Go To Dashboard</button>
    <p id="date">30<sup>th</sup> October 2020</p>
</div>

<h1 id="why-bitflip">Why BITFLIP?</h1>
<div class="quotes">
  <div class="blockquote-wrapper">
    <div class="blockquote">
      <h1>
        I'm doing a (free) <span style="color:#ffffff">operating system,</span>  just a hobby, <span style="color:#ffffff">won't be </span>big and <span style="color:#ffffff">professional</span> like gnu ....
       </h1>
      <h4>&mdash;Linus Torvalds</h4>
    </div>
  </div>
  <p class="quote-desc">
    Is how <span class="highlight">Linus Torvalds </span>described his <span class="highlight">personal project</span> Linux back in <span class="highlight">'91</span>, fast-forward to 2020 and almost the entire internet runs on Linux. <br>
<br>
This just goes to show you that no-one knows where your “personal projects” might end up after few years. <br>
Maybe you’ll build the next Instagram. <br>
Or maybe you’ve already built it but you don’t have any <span class="highlight">platforms to showcase your talent.</span> <br>
<br>This is where <span class="highlight"> BitFlip </span>comes in. <br><br>

<span class="bigtext">Come, share your ideas with us.</span>
  </p>
</div>
<div class="about" id="about">
    <h1 class="title-section">About The Hackathon</h1>
    <h2 id="about-text">Create anything you can imagine with code, electronics, 3D models, and more.</h2>
    
        <div class="about-content-text">
          BitFlip is the collaborative effort of all the technical clubs in College of Engineering Trivandrum.
We want to create a culture of builders who are well-equipped to solve real-life problems using technology, this hackathon is one step in that direction.
        </div>
    
    <div class="logos">
      <img src="/static/images/logos/0.png" alt="">
      <img src="/static/images/logos/astro-w.png" alt="">
      <img src="/static/images/logos/edc final.jpg" alt="">
      <img src="/static/images/logos/fosscellyellowtext.png" alt="">
      <img src="/static/images/logos/ieee mb blue.png" alt="">
      <img src="/static/images/logos/IET_new_LOGO_green.png" alt="">
      <img src="/static/images/logos/iste white.png" alt="">
      <img src="/static/images/logos/logo tinkerhub-white.png" alt="">
      <img src="/static/images/logos/qc-w.png" alt="">
      <img src="/static/images/logos/robocet_new.png" alt="">


    </div>

</div>

<div class="tracks" id="tracks">
    <h1 class="title-section">Tracks</h1>
    <div class="track-container">
        <div class="wrap wrap--1">
            <div class="containera container--1">
              <p>ML/AI</p>
            </div>
        </div>
        <div class="wrap wrap--2">
            <div class="containera container--2">
              <p>Web3(Blockchain)</p>
            </div>
        </div>
        <div class="wrap wrap--3">
            <div class="containera container--3">
              <p>Fintech</p>
            </div>
        </div>
        <div class="wrap wrap--4">
            <div class="containera container--4">
              <p>Algorithm</p>
            </div>
        </div>
        <div class="wrap wrap--5">
            <div class="containera container--5">
              <p>AR/VR</p>
            </div>
        </div>
        <div class="wrap wrap--6">
            <div class="containera container--6">
              <p>Health Tech</p>
            </div>
        </div>
        <div class="wrap wrap--7">
            <div class="containera container--7">
              <p>Social Apps</p>
            </div>
        </div>
        <div class="wrap wrap--8">
            <div class="containera container--8">
              <p>Ed Tech</p>
            </div>
        </div>
        <div class="wrap wrap--9">
            <div class="containera container--9">
              <p>Open Innovation</p>
            </div>
        </div>
    </div>
</div>
<div class="schedule" id="sch">
    <h1 class="title-section">Schedule</h1>
    <link rel="stylesheet" href="/static/css/schedule.css">
    <section class="cd-timeline js-cd-timeline">
        <div class="container max-width-lg cd-timeline__container">
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--picture">
                    <img src="/static/images/logo.svg" alt="Picture">
                </div>
                <!-- cd-timeline__img -->

                <div class="cd-timeline__content text-component">
                    <h2>Registration starts</h2>
                    <p class="color-contrast-medium">Head on over to Devfolio to send your application!</p>

                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">1st October 2020 <br>
                            6:00 PM
                            </span>
                        
                    </div>
                </div>
                <!-- cd-timeline__content -->
            </div>
            <!-- cd-timeline__block -->

            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--movie">
                    <img src="/static/images/logo.svg" alt="Picture">
                </div>
                <!-- cd-timeline__img -->

                <div class="cd-timeline__content text-component">
                    <h2>Registration Ends</h2>
                    <p class="color-contrast-medium">Keep your fingers crossed! We will be sending acceptance mails.</p>

                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">26th October 2020 <br>
                            12:00 AM
                            </span>
                        
                    </div>
                </div>
                <!-- cd-timeline__content -->
            </div>
            <!-- cd-timeline__block -->

            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--picture">
                    <img src="/static/images/logo.svg" alt="Picture">
                </div>
                <!-- cd-timeline__img -->

                <div class="cd-timeline__content text-component">
                    <h2>Hackathon Kickoff!</h2>
                    <p class="color-contrast-medium">Let the games begin!.</p>

                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">30th October 2020 <br>
                            6:00 PM
                            </span>
                        
                    </div>
                </div>
                <!-- cd-timeline__content -->
            </div>
            <!-- cd-timeline__block -->

            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--location">
                    <img src="/static/images/logo.svg" alt="Picture">
                </div>
                <!-- cd-timeline__img -->

                <div class="cd-timeline__content text-component">
                    <h2>Hackathon Ends</h2>
                    <p class="color-contrast-medium">Make sure you submit your hacks!!</p>

                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">7th November 2020 <br>
                            6:00 PM</span>
                       
                    </div>
                </div>
                <!-- cd-timeline__content -->
            </div>
            <!-- cd-timeline__block -->

            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--location">
                    <img src="/static/images/logo.svg" alt="Picture">
                </div>
                <!-- cd-timeline__img -->

                <div class="cd-timeline__content text-component">
                    <h2>The Judgement Day :)</h2>
                    <p class="color-contrast-medium">We'll annouce the winners of the hackathon.</p>

                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">14th November 2020 <br>
                            6:00 PM</span>

                    </div>
                </div>
                <!-- cd-timeline__content -->
            </div>
            <!-- cd-timeline__block -->
        </div>
    </section>
    <!-- cd-timeline -->
</div>

<div class="organisers" id="org">
    <center><h1 style="margin-top: 100px;">Organisers</h1></center>
    <link rel="stylesheet" href="/static/css/org.css">
    
<div class="wrapper">
    <div class="card"><img src="/static/images/org/0.jpeg"/>
      <div class="info">
        <h1>Vishnu Prakash</h1>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/ml-vishnu-prakash/"><i class="fa fa-linkedin"></i></a>
            <a href="mailto:stunk-beagle@protonmail.com,rahulmanojcoder@gmail.com,Hari2menon1234@gmail.com,alanaby01@gmail.com?subject=Enquiry%20about%20bitflip%20&body=I%20would%20like%20to%20know%20about%20....."><i class="fa fa-envelope"></i></a>
           
        </div>
      </div>
    </div>
    <div class="card"><img src="/static/images/org/0 (1).jpeg"/>
      <div class="info">
          <h1>Harisankar K</h1>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/harishankar-k-19490916a"><i class="fa fa-linkedin"></i></a>
            <a href="mailto:stunk-beagle@protonmail.com,rahulmanojcoder@gmail.com,Hari2menon1234@gmail.com,alanaby01@gmail.com?subject=Enquiry%20about%20bitflip%20&body=I%20would%20like%20to%20know%20about%20....."><i class="fa fa-envelope"></i></a>
            
        </div>
      </div>
    </div>
    <div class="card"><img src="/static/images/org/alan.jpeg"/>
      <div class="info">
        <h1>Alan P Aby</h1>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/alan-p-aby/"><i class="fa fa-linkedin"></i></a>
            <a href="mailto:stunk-beagle@protonmail.com,rahulmanojcoder@gmail.com,Hari2menon1234@gmail.com,alanaby01@gmail.com?subject=Enquiry%20about%20bitflip%20&body=I%20would%20like%20to%20know%20about%20....."><i class="fa fa-envelope"></i></a>
           
      </div>
      </div>
    </div>
    <div class="card"><img src="/static/images/org/pro-pic.JPG"/>
        <div class="info">
          <h1>Rahul T</h1>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/rahulmanojcet"><i class="fa fa-linkedin"></i></a>
            <a href="mailto:stunk-beagle@protonmail.com,rahulmanojcoder@gmail.com,Hari2menon1234@gmail.com,alanaby01@gmail.com?subject=Enquiry%20about%20bitflip%20&body=I%20would%20like%20to%20know%20about%20....."><i class="fa fa-envelope"></i></a>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="faqs" id="faqs-id">
    <h1 class="title-section">FAQ</h1>
    <div class="accordion">
        <div class="accordion-item">
          <a>Who can participate in BitFlip?</a>
          <div class="content">
            <p> Anyone! Whether you are a total beginner or a tech wizard, it doesn’t matter. Everyone is welcome to participate in BitFlip! :)</p>
          </div>
        </div>
        <div class="accordion-item">
            <a>How much does it cost to participate in BitFliP?</a>
            <div class="content">
              <p> Zero. Zip. Zilch. Nada. Nothing. Admission to BitFlip is completely free, thanks to our sponsors!</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Is it a team event?</a>
            <div class="content">
              <p> Yes, you can have up to 5 members in a team.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Can I apply individually?</a>
            <div class="content">
              <p> Yes, you can also form a team after you get selected.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Does BitFlip have a selection round?</a>
            <div class="content">
              <p> Well yes, but actually no.
                We plan to have a completely lenient selection process. It all boils down to your idea that you want to work on during the hackathon, so you don’t necessarily need to have fancy GitHub or LinkedIn accounts.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>What do I get by attending BitFlip?</a>
            <div class="content">
              <p> Everything! You get to meet your fellow hackers and our wonderful mentors. On top of that, we have some exciting prizes for the winners.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Ummm, hardware tracks?</a>
            <div class="content">
              <p> We sadly don’t have any hardware track, since it’s an online hackathon. Maybe next time :)</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Is there a code of conduct?</a>
            <div class="content">
              <p> Yep, we will be following the Devfolio’s Code of Conduct</p>
            </div>
          </div>
    </div>
</div>

<div class="sponser-container">
  <h1 id="sponser">Sponsors</h1>
  <div class="border-div">
    <div class="platinum">
      <h2>Platinum</h2>
        
    </div>
  </div>
  <img src="/static/images/logos/devfolio.svg" alt="">
</div>

<p id="footer">&copy; Bitflip | Designed and developed by <a href="https://github.com/rawho">Rahul T</a> </p> 

<script>
    class parallaxTiltEffect {

constructor({element, tiltEffect}) {

  this.element = element;
  this.container = this.element.querySelector(".containera");
  this.size = [300, 360];
  [this.w, this.h] = this.size;

  this.tiltEffect = tiltEffect;

  this.mouseOnComponent = false;

  this.handleMouseMove = this.handleMouseMove.bind(this);
  this.handleMouseEnter = this.handleMouseEnter.bind(this);
  this.handleMouseLeave = this.handleMouseLeave.bind(this);
  this.defaultStates = this.defaultStates.bind(this);
  this.setProperty = this.setProperty.bind(this);
  this.init = this.init.bind(this);

  this.init();
}

handleMouseMove(event) {
  const {offsetX, offsetY} = event;

  let X;
  let Y;

  if (this.tiltEffect === "reverse") {
    X = ((offsetX - (this.w/2)) / 3) / 3;
    Y = (-(offsetY - (this.h/2)) / 3) / 3;
  }

  else if (this.tiltEffect === "normal") {
    X = (-(offsetX - (this.w/2)) / 3) / 3;
    Y = ((offsetY - (this.h/2)) / 3) / 3;
  }

  this.setProperty('--rY', X.toFixed(2));
  this.setProperty('--rX', Y.toFixed(2));

  this.setProperty('--bY', (80 - (X/4).toFixed(2)) + '%');
  this.setProperty('--bX', (50 - (Y/4).toFixed(2)) + '%');
}

handleMouseEnter() {
  this.mouseOnComponent = true;
  this.container.classList.add("container--active");
}

handleMouseLeave() {
  this.mouseOnComponent = false;
  this.defaultStates();
}

defaultStates() {
  this.container.classList.remove("container--active");
  this.setProperty('--rY', 0);
  this.setProperty('--rX', 0);
  this.setProperty('--bY', '80%');
  this.setProperty('--bX', '50%');
}

setProperty(p, v) {
  return this.container.style.setProperty(p, v);
}

init() {
  this.element.addEventListener('mousemove', this.handleMouseMove);
  this.element.addEventListener('mouseenter', this.handleMouseEnter);
  this.element.addEventListener('mouseleave', this.handleMouseLeave);
}

}

const $ = e => document.querySelector(e);

const wrap1 = new parallaxTiltEffect({
element: $('.wrap--1'),
tiltEffect: 'reverse'
});

const wrap2 = new parallaxTiltEffect({
element: $('.wrap--2'),
tiltEffect: 'normal'
});

const wrap3 = new parallaxTiltEffect({
element: $('.wrap--3'),
tiltEffect: 'reverse'
});

const wrap4 = new parallaxTiltEffect({
element: $('.wrap--4'),
tiltEffect: 'normal'
});
const wrap5 = new parallaxTiltEffect({
element: $('.wrap--5'),
tiltEffect: 'reverse'
});
const wrap6 = new parallaxTiltEffect({
element: $('.wrap--6'),
tiltEffect: 'reverse'
});
const wrap7 = new parallaxTiltEffect({
element: $('.wrap--7'),
tiltEffect: 'reverse'
});
const wrap8 = new parallaxTiltEffect({
element: $('.wrap--8'),
tiltEffect: 'reverse'
});
const wrap9 = new parallaxTiltEffect({
element: $('.wrap--9'),
tiltEffect: 'reverse'
});

const items = document.querySelectorAll(".accordion a");
 
function toggleAccordion(){
  this.classList.toggle('active');
  this.nextElementSibling.classList.toggle('active');
}
 
items.forEach(item => item.addEventListener('click', toggleAccordion));

var Canvas = document.getElementById('canvas');
var ctx = Canvas.getContext('2d');

var resize = function() {
    Canvas.width = Canvas.clientWidth;
    Canvas.height = Canvas.clientHeight;
};
window.addEventListener('resize', resize);
resize();

var elements = [];
var presets = {};

presets.o = function (x, y, s, dx, dy) {
    return {
        x: x,
        y: y,
        r: 12 * s,
        w: 5 * s,
        dx: dx,
        dy: dy,
        draw: function(ctx, t) {
            this.x += this.dx;
            this.y += this.dy;
            
            ctx.beginPath();
            ctx.arc(this.x + + Math.sin((50 + x + (t / 10)) / 100) * 3, this.y + + Math.sin((45 + x + (t / 10)) / 100) * 4, this.r, 0, 2 * Math.PI, false);
            ctx.lineWidth = this.w;
            ctx.strokeStyle = '#fff';
            ctx.stroke();
        }
    }
};

presets.x = function (x, y, s, dx, dy, dr, r) {
    r = r || 0;
    return {
        x: x,
        y: y,
        s: 20 * s,
        w: 5 * s,
        r: r,
        dx: dx,
        dy: dy,
        dr: dr,
        draw: function(ctx, t) {
            this.x += this.dx;
            this.y += this.dy;
            this.r += this.dr;
            
            var _this = this;
            var line = function(x, y, tx, ty, c, o) {
                o = o || 0;
                ctx.beginPath();
                ctx.moveTo(-o + ((_this.s / 2) * x), o + ((_this.s / 2) * y));
                ctx.lineTo(-o + ((_this.s / 2) * tx), o + ((_this.s / 2) * ty));
                ctx.lineWidth = _this.w;
                ctx.strokeStyle = c;
                ctx.stroke();
            };
            
            ctx.save();
            
            ctx.translate(this.x + Math.sin((x + (t / 10)) / 100) * 5, this.y + Math.sin((10 + x + (t / 10)) / 100) * 2);
            ctx.rotate(this.r * Math.PI / 180);
            
            line(-1, -1, 1, 1, '#fff');
            line(1, -1, -1, 1, '#fff');
            
            ctx.restore();
        }
    }
};

for(var x = 0; x < Canvas.width; x++) {
    for(var y = 0; y < Canvas.height; y++) {
        if(Math.round(Math.random() * 8000) == 1) {
            var s = ((Math.random() * 5) + 1) / 10;
            if(Math.round(Math.random()) == 1)
                elements.push(presets.o(x, y, s, 0, 0));
            else
                elements.push(presets.x(x, y, s, 0, 0, ((Math.random() * 3) - 1) / 10, (Math.random() * 360)));
        }
    }
}

setInterval(function() {
    ctx.clearRect(0, 0, Canvas.width, Canvas.height);

    var time = new Date().getTime();
    for (var e in elements)
		elements[e].draw(ctx, time);
}, 10);

(function(){
  // Vertical Timeline - by CodyHouse.co
	function VerticalTimeline( element ) {
		this.element = element;
		this.blocks = this.element.getElementsByClassName("cd-timeline__block");
		this.images = this.element.getElementsByClassName("cd-timeline__img");
		this.contents = this.element.getElementsByClassName("cd-timeline__content");
		this.offset = 0.8;
		this.hideBlocks();
	};

	VerticalTimeline.prototype.hideBlocks = function() {
		if ( !"classList" in document.documentElement ) {
			return; // no animation on older browsers
		}
		//hide timeline blocks which are outside the viewport
		var self = this;
		for( var i = 0; i < this.blocks.length; i++) {
			(function(i){
				if( self.blocks[i].getBoundingClientRect().top > window.innerHeight*self.offset ) {
					self.images[i].classList.add("cd-timeline__img--hidden"); 
					self.contents[i].classList.add("cd-timeline__content--hidden"); 
				}
			})(i);
		}
	};

	VerticalTimeline.prototype.showBlocks = function() {
		if ( ! "classList" in document.documentElement ) {
			return;
		}
		var self = this;
		for( var i = 0; i < this.blocks.length; i++) {
			(function(i){
				if( self.contents[i].classList.contains("cd-timeline__content--hidden") && self.blocks[i].getBoundingClientRect().top <= window.innerHeight*self.offset ) {
					// add bounce-in animation
					self.images[i].classList.add("cd-timeline__img--bounce-in");
					self.contents[i].classList.add("cd-timeline__content--bounce-in");
					self.images[i].classList.remove("cd-timeline__img--hidden");
					self.contents[i].classList.remove("cd-timeline__content--hidden");
				}
			})(i);
		}
	};

	var verticalTimelines = document.getElementsByClassName("js-cd-timeline"),
		verticalTimelinesArray = [],
		scrolling = false;
	if( verticalTimelines.length > 0 ) {
		for( var i = 0; i < verticalTimelines.length; i++) {
			(function(i){
				verticalTimelinesArray.push(new VerticalTimeline(verticalTimelines[i]));
			})(i);
		}

		//show timeline blocks on scrolling
		window.addEventListener("scroll", function(event) {
			if( !scrolling ) {
				scrolling = true;
				(!window.requestAnimationFrame) ? setTimeout(checkTimelineScroll, 250) : window.requestAnimationFrame(checkTimelineScroll);
			}
		});
	}

	function checkTimelineScroll() {
		verticalTimelinesArray.forEach(function(timeline){
			timeline.showBlocks();
		});
		scrolling = false;
	};
})();
</script>


