---
layout: mypage
---
<link rel="stylesheet" href="/static/css/hackathon.css">
<div class="main">
    <img id="back" src="/static/images/back.jpg" alt="">
    <!-- <img id="left" src="/static/images/hack.png" alt=""> -->
    <h1 class="title-section">Hackathon</h1>
    <p id="hack">A Hack Club Original Hackathon</p>
    <button class="btn-01">Go To Dashboard</button>
    <div class="date">

        <p id="date-date">25 Aug 2020</p>
        <i class="fa fa-calendar date-ico" aria-hidden="true"></i>

    </div>
</div>
<div class="about">
    <h1 class="title-section">About Hackathon</h1>
    <h2 id="about-text">Create anything you can imagine with code, electronics, 3D models, and more.</h2>
    <div class="about-content">
        <div class="about-icons">
            <div class="icons">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <p>36 Hours</p>
            </div>
            <div class="icons">
                <i class="fa fa-gift" aria-hidden="true"></i>
                <p>Exciting Prices</p>
            </div>
            <div class="icons">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <p>36 Hours</p>
            </div>
            <div class="icons">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <p>36 Hours</p>
            </div>
        </div>
        <div class="about-content-text">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quam ipsum! Excepturi illum, reprehenderit nobis deserunt reiciendis suscipit fugiat veritatis, neque deleniti rem sed, accusamus inventore ullam? At illo iste eius quos? Itaque consequuntur saepe, porro a distinctio in error alias eaque, fugit ratione blanditiis totam amet fuga commodi qui consequatur ipsum cupiditate iste quo id aut placeat obcaecati? Quae necessitatibus, eligendi libero sunt odio ea sint nostrum quasi inventore ad numquam velit quos! Molestias, sequi recusandae. Repellat, ratione sit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa sint aperiam neque aspernatur ab perspiciatis.
        </div>
    </div>
</div>

<div class="tracks">
    <h1 class="title-section">Tracks</h1>
    <div class="track-container">
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>ML/AI</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Web3(Blockchain)</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Fintech</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Algorithm</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>AR/VR</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Health Tech</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Social Apps</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Ed Tech</p>
        </div>
        <div class="track-item">
            <img class="ico" src="/static/images/hack.png" alt="">
            <p>Open Innovation</p>
        </div>
    </div>
</div>

<div class="schedule">
    <h1 class="title-section">See Our Schedules</h1>
    <center><button class="btn-01">
        Schedules
    </button></center>
</div>

<div class="faqs">
    <h1 class="title-section">Faqs</h1>
    <div class="accordion">
        <div class="accordion-item">
          <a>Who can participate in BitFlip?</a>
          <div class="content">
            <p> Anyone! Whether you are a total beginner or a tech wizard, it doesn’t matter. Everyone is welcome to participate in BitFlip! :)</p>
          </div>
        </div>
        <div class="accordion-item">
            <a>How much does it cost to participate in BitFliP?</a>
            <div class="content">
              <p> Zero. Zip. Zilch. Nada. Nothing. Admission to BitFlip is completely free, thanks to our sponsors!</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Is it a team event?</a>
            <div class="content">
              <p> Yes, you can have up to 5 members in a team.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Can I apply individually?</a>
            <div class="content">
              <p> Yes, you can also form a team after you get selected.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Does BitFlip have a selection round?</a>
            <div class="content">
              <p> Well yes, but actually no.
                We plan to have a completely lenient selection process. It all boils down to your idea that you want to work on during the hackathon, so you don’t necessarily need to have fancy GitHub or LinkedIn accounts.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>What do I get by attending BitFlip?</a>
            <div class="content">
              <p> Everything! You get to meet your fellow hackers and our wonderful mentors. On top of that, we have some exciting prizes for the winners.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Ummm, hardware tracks?</a>
            <div class="content">
              <p> We sadly don’t have any hardware track, since it’s an online hackathon. Maybe next time :)</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Is there a code of conduct?</a>
            <div class="content">
              <p> Yep, we will be following the Devfolio’s Code of Conduct</p>
            </div>
          </div>
    </div>
</div>