---
layout: default
---

<style>

body{
    background-color: #000000;
}

/* .header .brand-name a{
    color: #000000;
}

.header .nav-toggle{
    border: 1px solid #000000;
}


.header .nav-toggle span{
    background-color: #000000;
}

.header .nav-toggle span::before,
.header .nav-toggle span::after{
    background-color: #000000;
}

.header .nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    padding: 25px 0;
    display: block;
    transition: all 0.3s ease;
} */
#footer{
    color: #4b4747;
    text-align: center;   
    padding-top: 100px;     
}

    @media(max-width: 767px){
        #timer{
            font-size: 40px;
            font-family: monospace, sans-serif;
        }
    }
    .container-faq{
    margin-top: 200px;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-faq h2{
    margin-left: 20px;
    line-height: 3;
    display: block;
    width: 100px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccb8f7;
    color: #b8b4b4;
  }
  
@media(max-width: 767px){
  .container-faq{
    max-width: 100%;
    margin-top: 100px;
  }
}

.event-container{
        margin-top: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 65%;
        column-gap: 50px;
        row-gap: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .event-container .box-event{
        grid-column: auto;
        width: 80%;
        height: 400px;
        border-radius: 20px;
        justify-content: center;
        position: relative;
        background-color: #000000;
        z-index: 1;
    }
    .box-event h1{
        position: absolute;
        top: 40%;
        left: 20%;
        color: #ffffff;
        font-size: 30px;
        transition: all 1s ease;
    }
    .box-event p{
        position: absolute;
        bottom: 80px;
        left: 10px;
        right: 20px;
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 20px;
        opacity: 0;
        transition: all .5s ease;
        border-radius: 5px;
        padding: 10px 0 10px 10px;
    }
    
    .box-event i{
        position: absolute;
        bottom: 20px;
        right: 100px;
        color: #ffffff;
        font-size: 40px;
        animation: right 2s ease infinite;
    }
    .box-event img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;
        width: 100%;
        height: 100%;
        z-index: -1;
    }


    @keyframes right{
        0%,20%,50%,80%,100%{
            transform: translateX(0);
        }
        40%{
            transform: translateX(-30px);
        }
        60%{
            transform: translateX(-15px);
        }
    }
    .box-event a{
        position: absolute;
        right: 30px;
        bottom: 20px;
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }
    
    

    .box-event:hover p{
        opacity: 1;
        background-color: rgba(0,0,0,0.5);
    }
    .box-event:hover h1{
        top: 50px;
        left: 20px;
    }

    @media(max-width: 767px){
        .event-container{
            margin-top: 150px;
            display: grid;
            grid-template-columns: 1fr;
            max-width: 80%;
            row-gap: 20px;
        }
        .event-container .box-event{
            width: 100%;
        }
        .box-event h1{
            font-size: 28px;
            top: 20px;
            left: 10px;

        }

        .event-container .box-event p{
            font-size: 20px;
            opacity: 1;
            background-color: rgba(0,0,0,0.3);
        }
    }

</style>

<section>
    {{ content }}
    
    
</section>
